<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thermostatic.Thermostat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Thermostatic.Thermostat.Properties.Settings>
            <setting name="ThermostatWebInterface" serializeAs="String">
                <value>http://wwwis.win.tue.nl/</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>2id40-ws/</value>
            </setting>
            <setting name="ThermostatID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThermostatData" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheDurationSeconds" serializeAs="String">
                <value>30</value>
            </setting>
        </Thermostatic.Thermostat.Properties.Settings>
    </userSettings>
</configuration>